target/
.mooncakes/
.DS_Store
.moonagent
*.ml
node_modules
src/parsing/mbti_parser/mbti_parser.mbt.map.json
src/parsing/mbti_parser/mbti_parser.mbt
src/parsing/parser/parser.mbt.map.json
src/parsing/parser/parser.mbt